h1{
    text-align: center;
}
#jumbo{
    background-color: #2edfd9;
}

body{
    font-family: "Times New Roman", Times, serif;
    color: white;
    background-image: url("images/alarms.jpg");
    background-color: rgb(187, 240, 199);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.form-group{
    padding-right: 200px;
    padding-left: 200px; 
}

.button{
        text-align: center;
        background-color: rgb(230, 204, 204); 
        color: rgb(189, 8, 24); 
        border: 20px solid rgb(164, 168, 170);
        padding-left: 100px;
        padding-right: 100px;
    }
    
#button:hover{
        background-color: rgb(138, 198, 255);
        color: white;
    }

iframe {
    width: 100%;
    border-width: 0px;
}

.parent {
    position: relative;
}

.collapsible li.active span {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }